a:visited {
  color: yellow;
}

a:hover {
    color: purple;
}
.p1 {
    border: 5px dashed black;
    background-color: darkcyan;
    margin: 20px;
    padding: 40px;
}

a {
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: white;
}

